
<div class="hero-container">
    <div class="logo-container">

        <div class="logo">

            <img  src="https://i.ibb.co/Mf4PBMR/Logo-complete-white.png">
        </div>
    
        <div class="description-container">
           <b>
                Nos dedicamos a compartir, conocimiento en 
                temas con A, IOT, Sowftware visualization.
           </b>
        </div>
        <div class="button-container">
            <button class="button button-principal">
                <a href={{page.link}}>{{page.textButton}}</a>
            </button>   
        </div>
    
    </div>
</div>    

