<nav class="nav is-relative has-shadow ">

   
 
    <div class="nav-start is-vertical-aligned">
        <div class="nav-item has-items-in-row ">
            <a href="/">Home</a>
        </div>
    </div>

    <div class="nav-end is-vertical-aligned">
        {% for item in site.data.navigation %}
            <div class="nav-item has-items-in-row ">
                <a href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</nav>
