
.logo-container {
    width: 150px;
    height: 150px;
    margin: 7em auto 4em auto;
    background-color: rebeccapurple;
}

.description-container {
    width: 400px;
    margin: 0 auto 0.5em auto;
}