@media (max-width: 800px) {

    
    .section {
        margin: 2em 1em 2em 1em;
        /* background-color: rebeccapurple; */
        text-align: center;
    }
    

    .image-container {
        width: 90%;
    }

}

@media (max-width: 500px) {

    .image-container {
        width: 100%;
    }

}


