/* Colors-------------------------------------------- */
:root {
    --navbar-background: white;
    --navbar-item: black;
}

/* Effects-------------------------------------------- */
.has-shadow{
    box-shadow: 6px 9px 28px -13px rgba(0,0,0,0.75);
}

/* Position-------------------------------------------- */
.is-relative{
    position: relative;
}

.has-items-in-row{
    float: left;
}


.is-vertical-aligned{
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}