---
layout: list-page
title: Nuestro equipo
---




<ul class="team-container">
    {% for item in site.data.team %}
        <li div class='team-item' >

            <div class="avatar-container">
                <img src="https://i.ibb.co/S7HyN1x/Screen-Shot-2019-12-29-at-20-11-16.png">
            </div>
            <a>{{ item.name }}</a> 
            {%if item.role != null%}-{%endif%}
            <a class="thin-text-style">{{ item.role }}</a>
        </li>
    {% endfor %}
</ul>

<!-- TODO: Agregar foto -->