:root {
    --nav-bar-size: 3em;

    /* navbar colors */
    --navbar-item-color: white;
    --navbar-background-color: white;
    --navbar-item-text-color: rgb(121, 121, 121);
    --hovered-navbar-color: #f5f5f5;
    --active-menu-item-color: #fafafa;

    /* burger menu icon */
    --burger-icon-color: #535353;
    --burger-border-color: #f9f9f9;

    /* simple page */
    --title-color: #7e7e7e;
    --normal-text: #575757;

    /* buttons */
    --button-color: #3285e4;
    --button-text-color:  white;

    /* footer */
    --footer-color: rgb(214, 214, 214);
    --contact-text-color: rgb(104, 104, 104);

}
