:root {
    --nav-bar-size: 3em;

    /* navbar colors */
    --navbar-item-color: rgb(240, 240, 240);
    --navbar-background-color:rgb(240, 240, 240);
    --navbar-item-text-color: rgb(121, 121, 121);
    --hovered-navbar-color: rgb(194, 194, 194);
    --active-menu-item-color: #1B4959;


    /* burger menu icon */
    --burger-icon-color: #535353;
    --burger-border-color: #f9f9f9;

    /* simple page */
    --title-color: #7e7e7e;
    --normal-text: #575757;

    /* buttons */
    --button-color: rgb(253, 253, 253);
    --button-color-dark: #1F1C36;
    --button-color-dark-hover: rgb(20, 18, 36);
    --button-text-color:  #1B1E76;
    --button-on-hover: rgb(237, 237, 237);

    /* footer */
    --footer-color: #1B4959;
    --contact-text-color: rgb(241, 241, 241);

}
